html
    head
    body
        h3 Selamat datang di halaman 
        p silahkan pilih cerita 
        ul
            each val in cerita
                li
                    a(href='/cerita/isi-cerita/'+val.judul)
                        =val.judul
        a(href='/cerita/buat-cerita')
            button(type='button') Buat Cerita