html
    head
    body
        h3 Selamat datang di halaman utama
        p silakan pilih cerita :
        ul
            each val in cerita
                li
                    a(href='/cerita/'+val.judul)
                        = val.judul